/* Custom input field with semi-transparent dark background and outline */
.custom-input {
      background-color: rgba(0, 0, 0, 0.5);
      /* semi-transparent dark background */
      color: white;
      /* white text color for visibility */
      border: 1px solid #ffffff61;
      /* white border */
      border-radius: 4px;
      padding-top: 15px;
      padding-bottom: 15px;

}

/* Placeholder color */
.custom-input .ant-input::placeholder {
      color: rgba(255, 255, 255, 0.487);
      /* semi-transparent white */
}

/* Icon color */
.custom-input .ant-input-prefix {
      color: rgba(255, 255, 255, 0.487);
      /* white icon color */
}

.custom-input:focus-within {
      background-color: black;
}

.custom-input:hover {
      background-color: black;
}